<mat-card *ngIf="questions && questions.length > 0">
  <mat-card-title-group>
    <mat-card-title>Avanade</mat-card-title>
    <mat-card-subtitle>Quiz</mat-card-subtitle>
  </mat-card-title-group>
  <mat-tab-group color="primary" (selectedTabChange)="onLinkClick($event)" [selectedIndex]="indexQuestion">
    <mat-tab label="First" [disabled]="indexQuestion!=0">
      <form name="form1">
        <mat-form-field>
          <mat-label>{{ questions[0].question }}</mat-label>
          <input matInput [(ngModel)]="questions[0].answer" name="question1" />
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="next()" color="primary">
        Next Question
      </button>
    </mat-tab>
    <mat-tab label="Second" [disabled]="indexQuestion!=1">
      <form name="form1">
        <mat-form-field>
          <mat-label>{{ questions[1].question }}</mat-label>
          <input matInput [(ngModel)]="questions[1].answer" name="question2" />
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="next()" color="primary">
        Next Question
      </button>
    </mat-tab>
    <mat-tab label="Third" [disabled]="indexQuestion!=2">
      <form name="form1">
        <mat-form-field>
          <mat-label>{{ questions[2].question }}</mat-label>
          <input matInput [(ngModel)]="questions[2].answer" name="question3" />
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="finish()" color="primary">
        Finish
      </button>
    </mat-tab>
  </mat-tab-group>
</mat-card>
